[MESSAGES CONTROL]

disable=
    C0301, # Line too long
    C0302, # Too many lines in module
    C0206, # Consider iterating with .items()
    W0143, # Comparing against a callable
    R0913, # Too many arguments
    R0914, # Too many local variables
    R0912, # Too many branches
    R0915, # Too many statements
    R1702, # Too many nested blocks
